.advantages {
    height: 473px;
    padding: 70px 0 65px 0;
    background: #F6F6F6;
    &__items {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        text-align: center;
    }
    &__item {
        width: 270px;
        h3 {
            margin-top: 35px;
        }
        p {
            margin-top: 20px;
        }
        &_animated {
            animation: heartbeat 1.3s ease infinite;     
            &:hover {
                animation-play-state: paused;
            }       
        }
    }
}
